<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.inetBanking.Utilites.Reporting"></listener>
</listeners>
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
      <class name="com.inetBanking.PageTestCases.TC_LoginTest_001"></class>
     <class name="com.inetBanking.PageTestCases.TC_LoginDDT_002"></class>
    <class name="com.inetBanking.PageTestCases.TC_AddCustomerTest_003"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
